# Core Libraries
numpy<=1.26.4 # for lens_metric
pandas<2.0.0,>=1.5.0 # for lens_metric
nltk
scipy
scikit-learn
matplotlib
seaborn

# Text Processing and NLP Libraries
spacy
gensim
sentencepiece

# Deep Learning Frameworks
# tensorflow
pytorch
# keras

# Transformers and Hugging Face
transformers
tokenizers
datasets
#sentence-transformers

# Evaluation
evaluate
bert_score
py-readability-metrics
lens-metric==0.2.0

# Web Scraping and Crawling
beautifulsoup4
scrapy

# Data Preprocessing
pandas-profiling
missingno

# Feature Engineering
#feature-engine
tsfresh
#numpy-groupies

# Evaluation Metrics
nltk

# Data Visualization
plotly
bokeh

# Interactive Jupyter Notebooks
jupyter
ipykernel

# Miscellaneous
tqdm
ipython
ipywidgets